@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #000000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    background-color: #568F59;
    height: 80px;
    z-index: 999;
    display: block;
}

header .logo_header {
    height: 80px;
    width: 10%;
    font-size: initial;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.logo_header a {
    color: #ffffff;
    background-color: transparent;
}

header .logo_header img {
    margin: 5px 100px 5px 0;
}

img {
    border: 0;
}

.boutons_header {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: center;
}

header ul {
    list-style: none;
}

.boutons_header .boutons_header_ul {
    margin: 0;
    padding: 0;
}

.boutons_header .boutons_header_li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 50px;
    text-align: center;
    transition: all 0.3s;
}

.boutons_header_li {
    color: #ffffff;
}

.boutons_header_a , .boutons_header_accueil{
    color: #ffffff;
    font-size: 24px;
}

.boutons_header .boutons_header_a , .boutons_header .boutons_header_accueil{
    transition: all 0.3s;
    text-decoration: none;
    vertical-align: middle;
}

.boutons_header_accueil {
    font-family: Raleway, sans-serif;
}

a {
    background-color: transparent;
}

.fond {
    width: 101vw;
    height: 100%;
    position: relative;
    transform: translateX(-1vw);
}

#site-search {
    height: 50px;
    width: 500px;
    border-radius: 30px;
    font-size: 20px;
}

/*#site-search::after{
    content: url("./img/logo-rechercher.svg");
}*/

.voir-jeux {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #568F59;
    padding: 18px 51px;
    border-radius: 62px;
    text-decoration: none;
    margin-top: 200px;
    text-align: center;
    width: 250px;
    transform: translateX(+20%);
}

.barre-de-recherche{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-input-placeholder{
    padding-left: 20px;
}

h3 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #568F59;
    padding: 10px 30px;
    border-radius: 17px;
    width: 210px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.texte_connexion {
    font-family: Raleway, sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

#nom_utilisateur, #mdp, #nom_utilisateur2, #mail, #mdp2, #mdp_confirm{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 40px;
    border-radius: 51px;
    font-size: 24px;
    font-family: Raleway, sans-serif;
}

.se_connecter {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    border-radius: 51px;
    background-color: #4D7E46;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
}

.pas_de_compte {
    font-family: Raleway, sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

.texte_creation {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    text-align: center;
}

#annee {
    width: 250px;
    height: 40px;
    border-radius: 51px;
    font-size: 20px;
}

#jour, #mois {
    width: 100px;
    height: 40px;
    border-radius: 51px;
    font-size: 20px;
}

#mois {
    margin: 0 20px;
}

.date_de_naissance {
    margin-left: 57.5%;
    transform: translateX(-57.5%);
}

#voir {
    background-color: transparent;
    border: none;
    margin-left: -250px;
    height: 40px;
}

.jeux_semaine{
    width: 1380px;
    border-bottom: 15px;
}

.jeux_semaine h2{
    text-align: center;
    color: white;
    background-color: #486E4A;
    padding: 20px 0;
}

.contenu {
    margin-top: -26px;
    display: flex;
}

h4 {
    text-align: center;
    font-size: 26px;
}

.contenu_droite {
    background-color: #F9F9F9;
}